<!-- HTML -->
{% extends "layout.html" %}
{% block content %}
<h2>Confirmed Matches</h2>
{% if confirmed_matches %}
<table class="table table-striped table-centered">
    <thead>
    <tr>
        <th colspan="2">Confirmed Matches 2</th>
    </tr>
    <tr>
        <th>Dog</th>
        <th>Walker</th>
    </tr>
    </thead>
    <tbody>
    {% for cm in confirmed_matches %}
    <tr>
        <td>{{ cm.field1 }}</td>
        <td>{{ cm.field2 }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% else %}
<p>No confirmed matches found.</p>
{% endif %}
{% endblock %}