<!-- HTML -->
{% extends "layout.html" %}
{% block content %}
<h2>Confirmed Matches</h2>
{% if matches %}
<table class="table table-striped table-centered">
    <thead>
    <tr>
        <th colspan="6">Confirmed Matches</th>
    </tr>
    <tr>
        <th>Dog (Breed, Owner (Phone))</th>
        <th>Walker (Phone)</th>
        <th>Day</th>
        <th>Start</th>
        <th>End</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for cm in confirmed_matches %}
    <tr>
        <td>{{ cm.dog.name }}</td>
        <td>{{ cm.walker.name }}</td>
        <td>{{ ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'][match.weekday] }}</td>
        <td>{{ cm.start_time.strftime('%H:%M') }}</td>
        <td>{{ cm.end_time.strftime('%H:%M') }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% else %}
<p>No confirmed matches found.</p>
{% endif %}
{% endblock %}